
<% provide(:title, "Edit User") %>
<div class="container">
    <div>

        <%= render "shared/flash_messages" %>
        <div class="card">
            <div class="card-header">
                Edit User
            </div>
            <div class="card-body">

                <%= render "shared/user_form" %>
            </div>
        </div>
    </div>
</div>
